body {
  font-family: "OpenSans";
  letter-spacing: 1px;
  background-color: #242424;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: lighten(#242424, 5%);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
