.search-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  &__thumb {
    display: inline-block;
    width: 100%;
    max-width: 20%;
    height: auto;
    margin-right: 10px;
  }
  &__title {
    color: #ffffff;
    margin-right: 10px;
    font-size: 14px;
  }
  &__play {
    align-self: flex-end;
    padding: 5px 10px;
    margin-left: auto;
    border-radius: 4px;
    color: #ffffff;
    background-color: #ff0000;
    border: none;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      background-color: darken(#ff0000, 10%);
    }
  }
  &:not(:last-child) {
    border-bottom: 1px solid #000;
  }
}
